
body::before {
    display: block;
    content: '';
    height: 50px;
}

@media (min-width: 768px) {
    .input-group {
        width: 50%;
    }
}

.bord-radius {
    border-radius: 0 0 3px;
}